
/* Cards */

.content-cards{
    display: flex;
    width: 100%;
    gap: 30px 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    min-width: 200px;
    max-width: 350px;
    text-align: center;
    height: 450px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.cardExp{
    max-width: 275px;
    text-align: left;
    padding: 1em;

}
.card > h3 {
    text-align: center;
}
.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
}

.card i{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}

.logoCompany{
    width: 20px;
    position: absolute;
    top: 10px;
    left: 150px;
}
.content{
    margin: 1.5em;
    font-size: 16px !important;
    text-align: center;
}
.title{
    margin-top: 30px;
}
