.imgGit {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-top: 1em;
}

.galeria-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: center;
}

.card {
  background-color: white;
  padding-bottom: 1em;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.galeria {
  background-color: #f2f2f2;
}
.nameLink {
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
}
.titulo2 {
  color: white;
}

.path2 {
  stroke: none;
   fill: #f5576c;
}

.gitImg{
    width: 25px; 
    position:absolute; 
    bottom: 10px;   
    left: 10px;
}
.svg-wave{
  height: 150px;
  overflow: hidden;
}

.divWave{
  margin-bottom: -10px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-right: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.containerCard {
  padding: 2px 16px;
}

.imgCard{
  width: 100%;
  object-fit: cover;
}

.linkNoStyle{
  text-decoration: none;
  color: black;
}