footer {
  background: var(--primary);
  color: #fff;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 40px;
}
.linkContact {
  width: 25px;
  margin-bottom: -8px;
  margin-right: 8px;
  transition: all 0.23s ease-in-out;
}
.linkContact:hover {
  transform: scale(1.2);
}
.input {
  background: transparent;
  border: 0;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  padding: 20px 10px;
}

.input::placeholder {
  color: #fff;
  font-family: 'raleway', 'sans-serif';
}

input[type='text'],
input[type='email'] {
  display: inline-block;
  width: 49%;
  margin-bottom: 30px;
}

.form textarea {
  width: 100%;
  margin-bottom: 15px;
}

input[type='submit'] {
  width: 120px;
  text-align: center;
  padding: 14px 0;
}

input[type='submit']:hover {
  cursor: pointer;
  color: tomato;
  background: #fff;
}

.linkContact {
  color: white;
  text-decoration: none;
}

.marginR {
  margin-top: 20px;
}
.center {
  display: flex;
  margin-top: 2em;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 30px;
  gap: 10%;
}
.row {
  width: 100%;
  display: flex;
  gap: 1%;
}
